@use "custom" as *;
// load source SCSS from bootstrap module
@use "bootstrap/scss/bootstrap.scss" with (
  $color-mode-type: $color-mode-type,
  $primary: $primary,
  $body-bg: $body-bg,
  $body-color: $body-color,
);
